header {
    border-bottom: 1px solid var(--gold-color);
    border-top: 1px solid var(--gold-color);
    position: fixed;
    width: 100%;
    background: var(--dark-color);
    z-index: 200;
}

.economy:active,
.economy:hover {
    border: none;
}

#backfiller #left_backfiller {
    width: 600px;
    position: absolute;
    left: 0;
    z-index: -100;
}

#backfiller #right_backfiller {
    width: 600px;
    position: absolute;
    right: 0;
    z-index: -100;
}

.left_img {
    position: absolute;
    margin-top: -200px;
    left: -200px;
    width: 350px;
    animation: rotate 10s infinite linear;
}

.right_img {
    position: absolute;
    margin-top: -250px;
    right: -200px;
    width: 350px;
    animation: rotate 10s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
  }
  
  @property --gradX {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: true;
  }
  
  @property --gradY {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
  }

  
  #buy_n_sell {
	font-size: 15px;
    padding: 15px;
    border-radius: 100px;
	border: 5px dotted var(--gold-color);
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}

#btn:hover {
    opacity: .9;
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}
  
  
  

@media (max-width: 1040px) {
    #backfiller #right_backfiller, 
    #backfiller #left_backfiller {
        width: 300px;
        margin-top: 150px;
    }
}

@media (max-width: 464px) {
    #backfiller #right_backfiller, 
    #backfiller #left_backfiller {
        width: 250px;
        margin-top: 250px;
    }
}

@media (max-width: 386px) {
    #backfiller #right_backfiller, 
    #backfiller #left_backfiller {
        width: 200px;
        margin-top: 200px;
    }
}