.features_card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 100px;
}


.card {
    z-index: 100;
}

.card:hover {
    opacity: .95;
}

.icon_border {
    border: 2px solid var(--gold-color);
    border-radius: 100px;
    margin: auto;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    color: var(--gold-color);
    font-size: 20px;
    background: var(--dark-color);
    padding: 10px;
    border-radius: 100px;
}

.image {
    width: 500px;
    position: absolute;
    /* z-index: -1; */
    left: -250px;
    margin-top: -150px;
    animation: rotate 10s infinite linear;
}

#image {
    width: 500px;
    position: absolute;
    /* z-index: -1; */
    right: -300px;
    margin-top: -400px;
    animation: rotate 10s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 1023px) {
    .features_card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }
}