.footer {
    margin-top: 100px;
}

.footer_links {
    display: flex;
    justify-content: space-between;
    padding: 80px;
}

.footer_links .links>a {
    display: flex;
    flex-direction: column;
}

.socials {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}


.social_link {
    width: 80px;
    height: 80px;
    border: 3px solid var(--gold-color);
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    border-radius: 100px;
    margin: 25px 30px;
}

.social_link > a {
    background: var(--dark-color);
    border-radius: 100px;
    padding: 12px;
}

.social_link .social_icon {
    font-size: 10px;
    color: var(--gold-color);
    background: var(--dark-color);
    margin: 5px 10px;
    border-radius: 100px;
    width: 20px;
    height: 20px;
}


@media (max-width: 1023px) {
    .footer_links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
        justify-content: center;
        margin: auto;
    }
}

@media (max-width: 500px) {
    /* .footer_links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
        justify-content: center;
    } */
}


@media (max-width: 639px) {
    .socials .social_icon {
        font-size: 8px;
        width: 15px;
        height: 15px;
        margin: 10px;
    }

    .social_link {
        width: 55px;
        height: 55px;
    }

    .social_link > a {
        background: var(--dark-color);
        border-radius: 100px;
        padding: 5px;
    }
}
