#section_background {
    background: url(../../assets/section.png);
    height: 1250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#section_background .body_sec, 
#section .body_sec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
}

.fly-in-right-element {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s ease, transform 1s ease;
}

.fly-in-right-element.scroll-in {
  opacity: .8;
  transform: translateX(0);
}

.fly-in-left-element {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s ease, transform 1s ease;
}

.fly-in-left-element.scroll-in {
  opacity: .8;
  transform: translateX(0);
}
