.contact_container {
    background: url(../../assets/globle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 20px auto;
}

.input {
    margin-top: 100px;
    width: 100%;
    gap: 5px;
    display: flex;
    justify-content: space-around;
    /* padding: 20px; */
}

.input>input {
    margin-top: 10px;
    width: 40%;
    padding: 25px;
    background: var(--dark-shade);
    backdrop-filter: blur(10.5px);
    border-radius: 16px;
}

.input input:focus {
    border: none;
    outline: none;
}

.input_message {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input_message>.message {
    margin-top: 50px;
    width: 90vw;
    height: 300px;
    padding: 20px;
    top: 10px;
    background: var(--dark-shade);
    backdrop-filter: blur(10.5px);
    border-radius: 16px;
}

.input_message>.message:focus {
    border: none;
    outline: none;
}

.input_message>.message::placeholder {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.submit_btn {
    text-align: center;
    margin-top: 50px;
}

.submit_btn>.submit {
    padding: 15px 100px;
    background: var(--gold-color);
    font-weight: 900;
    border-radius: 15px;
}

.submit_btn:hover {
    opacity: .8;
}

#mobile_star_backfiller {
    display: none;
}



@media (max-width: 1040px) {
    #mobile_star_backfiller {
        display: block;
        right: -200px;
    }

    .contact_container {
        display: flex;
        justify-content: center;
        align-items: center;
        /* overflow-x: hidden; */
    }

}